<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <% include components/head.ejs %>
    <% include ../../shared/head.ejs %>

</head>
<body>

<% include components/header.ejs %>

<% include components/info.ejs %>
<% include components/understanding.ejs %>
<% include components/storybroads.ejs %>
<% include components/personas.ejs %>
<% include components/problems.ejs %>
<% include components/slogan.ejs %>
<% include components/menu.ejs %>
<% include components/recommendations.ejs %>
<% include components/division.ejs %>
<% include components/footer.ejs %>
<% include components/director.ejs %>

<% include ../../shared/tail.ejs %>
<% include components/tail.ejs %>

</body>
</html>
