<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <% include components/head.ejs %>
    <% include ../shared/head.ejs %>

</head>
<body>

<% include ../shared/nav.ejs %>
<% include components/header.ejs %>

<% include components/works.ejs %>
<% include components/about.ejs %>
<% include components/contact.ejs %>
<% include components/footer.ejs %>

<% include ../shared/tail.ejs %>
<% include components/tail.ejs %>

</body>
</html>
