<section id="about">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 md-lg-4 offset-md-2 offset-lg-2 col-sm-12 col-12">
                <h2 class="section-header wow fadeInUp" data-wow-duration=".8s" data-wow-delay=".4s">About</h2>
                <p class="content-des wow fadeInUp" data-wow-duration=".8s" data-wow-delay=".4s">I am a senior UI/UX and
                    product designer with over 7 years experience,
                    and I think design is commonly misunderstood as being purely visual.
                    I believe that design is not only how something looks, but how something works. So in the case of
                    UI/UX
                    design,
                    I mean that I design how people interact with technology, and how technology responds.
                </p>
                <a href="/docs/josie-resume.pdf" role="button"
                   download="josie-resume" class="btn btn-outline-primary wow fadeInUp" data-wow-duration=".8s"
                   data-wow-delay=".4s">Download Resume</a>
            </div>
            <div class="col-md-4 col-lg-4 col-sm-12 about-img-holder wow fadeInUp" data-wow-duration=".8s"
                 data-wow-delay=".4s">
                <img src="/img/skills_left@2x.png" alt="" class="img-fluid">
            </div>
        </div>
    </div>
</section>