<section id="apps">
    <div class="container-fluid websites-content">
        <div class="row">
            <div class="col-lg-3 col-md-3 offset-md-1 offset-lg-1 col-sm-12 col-12 apps-info">
                <h2 class="section-header wow fadeInUp" data-wow-duration=".8s" data-wow-delay=".2s">
                    App
                </h2>
                <h3 class="content-header wow fadeInUp" data-wow-duration=".8s" data-wow-delay=".4s">
                    CAKNOW
                </h3>
                <p class="content-des wow fadeInUp" data-wow-duration=".8s" data-wow-delay=".6s">
                    The purpose of your brochure may differ from business to business. Some are designed to display
                    services, whereas others are focused on selling an idea.
                </p>

                <button class="btn btn-outline-primary learn-more wow fadeInUp" data-wow-duration=".8s" data-wow-delay=".8s" >Learn more <i
                            class="fa fa-arrow-right"></i>
                </button>

                <div class="glass-holder wow fadeInUp" data-wow-duration=".8s" data-wow-delay=".6s">
                    <img src="/img/glasses.png" class="img-fluid">
                </div>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-12 col-12 apps-img-holder">
                <div class="container-fluid apps-img-holder">
                    <div class="row">
                        <div class="app-1 wow fadeInUp" data-wow-duration=".8s" data-wow-delay=".4s">
                            <img src="/img/apps/phone1.png" class="img-fluid" alt="Jack Brew">
                        </div>
                        <div class="app-2 wow fadeInUp" data-wow-duration=".8s" data-wow-delay=".4s">
                            <img src="/img/apps/phone2.png" class="img-fluid" alt="Jack Brew">
                        </div>
                        <div class="app-3 wow fadeInUp" data-wow-duration=".8s" data-wow-delay=".4s">
                            <img src="/img/apps/phone3.png" class="img-fluid" alt="Jack Brew">
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>