<section id="contact">
    <div class="container">
        <h2 class="section-header contact-text wow fadeInUp" data-wow-duration=".8s" data-wow-delay=".2s">Contact</h2>
        <div class="row">
            <div class="col-8 contact-content">
                <p class="wow fadeInUp" data-wow-duration=".8s" data-wow-delay=".4s">Wechat: tz103004176</p>
                <p class="wow fadeInUp" data-wow-duration=".8s" data-wow-delay=".6s">Mobile: +1 (310)504-7390</p>
                <p class="wow fadeInUp" data-wow-duration=".8s" data-wow-delay=".8s">Email: htz103004176@gmail.com</p>
            </div>
        </div>
        <div class="row">
            <div class="col-8 text-left">
                <ul class="text-left">
                    <li class="contact-icon wow fadeIn" data-wow-duration=".8s" data-wow-delay="1s">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li class="contact-icon wow fadeIn" data-wow-duration=".8s" data-wow-delay="1.2s">
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                    </li>
                    <li class="contact-icon wow fadeIn" data-wow-duration=".8s" data-wow-delay="1.4s">
                        <a href="#"><i class="fa fa-behance"></i></a>
                    </li>
                    <li class="contact-icon wow fadeIn" data-wow-duration=".8s" data-wow-delay="1.6s">
                        <a href="#"><i class="fa fa-dribbble"></i></a>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</section>