<section id="header">
    <div class="container header-content">
        <div class="row">
            <div class="col-md-8 col-sm-12">
                <h1 class="wow fadeInUp" data-wow-duration=".4s" data-wow-delay=".2s">Hey There;)</h1>
                <h1 class="wow fadeInUp" data-wow-duration=".4s" data-wow-delay=".4s">I'M Jack Huang</h1>
                <h1 class="wow fadeInUp" data-wow-duration=".4s" data-wow-delay=".6s">A UI/UX Designer</h1>
                <h1 class="wow fadeInUp" data-wow-duration=".4s" data-wow-delay=".8s">Based in Los Angles</h1>
            </div>
        </div>
        <div class="row extra-content">
            <div class="col-md-6 col-sm-1 col-xs-1">
                <hr class="for-line wow fadeInUp" data-wow-duration=".4s" data-wow-delay="1s" align="left" width="100%">
            </div>
            <div class="col-md-4 col-sm-12 col-xs-12">
                <h4 class="text-left wow fadeInUp" data-wow-duration=".4s" data-wow-delay="1s">I make technology not
                    suck to use.</h4>
            </div>
        </div>
    </div>
</section>