<section id="websites">
    <div class="container-fluid websites-content">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 offset-md-2 offset-lg-2">
                <h2>
                    Website
                </h2>

                <h3 class="content-header">
                    MyEtherWallet
                </h3>

                <p class="content-des">
                    The purpose of your brochure may differ from business to business. Some are designed to display
                    services, whereas others are focused on selling an idea.
                </p>

                <button class="btn btn-outline-primary learn-more">Learn more <i
                            class="fa fa-arrow-right"></i></button>

            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="websites-container">
                    <img class="computer-img" src="/img/laptop.png"/>
                    <img class="web-img" src="/img/websites/web-img1.png"/>
                    <!--<img src="/img/websites/web-img1.png" alt="Jack Brew">-->
                    <!--<img src="/img/laptop.png" alt="Jack Brew"></div>-->

                </div>
            </div>
        </div>
</section>