<section id="websites">
    <div class="container-fluid websites-content">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 offset-md-1 offset-lg-1 web-info">
                <h2 class="section-header wow fadeInUp" data-wow-duration=".5s" data-wow-delay=".2s">
                    Website
                </h2>

                <h3 class="content-header wow fadeInUp" data-wow-duration=".5s" data-wow-delay=".6s">
                    MyEtherWallet
                </h3>

                <p class="content-des wow fadeInUp" data-wow-duration=".5s" data-wow-delay="1s">
                    The purpose of your brochure may differ from business to business. Some are designed to display
                    services, whereas others are focused on selling an idea.
                </p>

                <button class="btn btn-outline-primary learn-more wow fadeInUp" data-wow-duration=".5s"
                        data-wow-delay="1.4s">Learn more <i
                            class="fa fa-arrow-right"></i></button>

            </div>
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 website-img-holder">
                <div class="websites-container">

                    <div class="web-img wow fadeInUp" data-wow-duration=".8s" data-wow-delay="0s">
                        <img src="/img/websites/web-img1.png" alt="Jack Brew" class="img-fluid">
                    </div>

                    <div class="computer-img wow fadeIn" data-wow-duration=".8s" data-wow-delay=".6s">
                        <img src="/img/laptop.png" alt="Jack Brew" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
</section>