<section id="works">
    <div class="container">
        <div class="row works-header">
            <div class="col-md-4 col-sm-12">
                <h1 class="section-title">Works</h1>
            </div>
            <div class="col-md-8 col-sm-12">
                <ul class="nav works-nav">
                    <li class="nav-item ">
                        <a class="nav-link active" href="#">Website</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">App</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Graphic</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Art</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="row works-content">

        </div>
    </div>
</section>