<section id="division">
    <div class="container">
        <h3 class="content-title">
            Redefine division
        </h3>
        <h4 class="black-title">
            Old version
        </h4>
        <p class="content-des">
            Every title has a fancy icon, and every item is in the spot where they are, but I think it was lost lots of
            interesting in design. Things just crowd in that box. And do not try to lost the balance for point of the
            view.
        </p>
        <div class="row">
            <div class="col-8 offset-2">
                <img src="/" alt="" class="img-fluid">
            </div>
        </div>
        <h4 class="black-title">
            New version
        </h4>
        <p class="content-des">
            Every melodic music should has the layered structure, design is the same as music. Designer always plays
            game
            with user’s eyes. My job is create a role that how to guide people follow it, and enjoy the visual game.
        </p>
    </div>

</section>