<header id="header">
    <!--<div class="header-background"></div>-->
    <a class="btn back-button" href="/">
        Back
    </a>
    <div class="header-holder">
        <img src="/img/go-lebar/top-header.png" alt="" class="img-header">
    </div>
</header>