<section id="info">


    <h2 class="info-title text-center">Redefine Brand & Website UI/UX</h2>
    <p class="info-content text-center">Roles - Researcher, UI/UX Designer</p>
    <p class="info-content text-center">Duration - 4 Weeks</p>
    <p class="info-content text-center">Tools - Sketch, Adobe Photoshop, Zeplin</p>

    <div class="cy-divider-holder">
       <span class="cy-divider">
               UX Design
       </span>
    </div>

</section>