<section id="menu">
    <div class="container">
        <h3 class="content-title">
            Redefine banner and menu
        </h3>
        <h4 class="black-title">
            Old version
        </h4>
        <p class="content-des">
            As my consideration, there are some complication design for top bar. Colorful, too many element,
            even over design it. There are many problems for banner design as well. Do not let user get lost at the first screen.
        </p>
        <div class="row">
            <div class="col-8 offset-2">
                <img src="/img/go-lebar/banner-old.jpg" alt="" class="img-fluid">
            </div>
        </div>
        <h4 class="black-title">
            New version
        </h4>
        <p class="content-des">
            After lots of user research and analysis, I Simplify design as much as possible, kept color uniform and layered.
            I tried to tell user only one importent thing at one time, not only images but also contents.
            I restructured the navigation bars on the left and top to make it easy and convenient for every user finding what they need.
        </p>
        <div class="row">
            <div class="col-8 offset-2">
                <img src="/img/go-lebar/banner-new.jpg" alt="" class="img-fluid">
            </div>
        </div>
</section>