<section id="personas">
    <div class="container">
        <h3 class="content-title">
            Personas
        </h3>
        <p class="content-des">
            Originally, I invited some of users from UCLA, UCI and USC to created a persona, they represented the users
            who were from our target market. One of my tasks was to consolidate all the data into 3 persona's, that
            would represent our target user as accurately as possible. Making sure I accounted for diversity, people
            from different backgrounds, and different economic classes was extremely important in moving our design
            forward.
        </p>

        <div class="row">
            <div class="col-8 offset-2">
                <img src="/img/go-lebar/persona-1.jpg" alt="" class="img-fluid">
            </div>
            <div class="col-8 offset-2 mt-2">
                <img src="/img/go-lebar/persona-2.jpg" alt="" class="img-fluid">
            </div>
        </div>
    </div>
</section>