<section id="problems">
    <div class="container">
        <h3 class="content-title">
            Problems
        </h3>
        <p class="content-des">
            The problem is our website is not user friendly and accessibilty.
            This is an obvious cap that stops to convert more users,
            and some of our users thought golebar was not a trustable platform as well.
        </p>

        <h4 class="black-title">
            Communication
        </h4>

        <p class="content-des">
            Brainstorm with the core team in the room, collected the essential documents.<br>
            Kept the patient learning from the users at starbucks.<br>
            Kept communication with customer care team, and made notes for customers feedback.<br>
            Kept connect with CEO, listened his idea for website of new version.
        </p>
        <h4 class="black-title">
            Education
        </h4>
        <p class="content-des">
            Redefine the brand, and make it as a trustable platform.<br>
            In order to attract and convent more users, and make it unique to compare with our competitives.
        </p>
        <h4 class="black-title">
            Containment
        </h4>
        <p class="content-des">
            There are lot of compatitives in the market, and some of them are not trustable, we are one of them.<br>
            Banner design is not attractive enough for people.<br>
            Be short of considering about UI design, it cause to poor user experience.
        </p>
    </div>
    <div class="cy-divider-holder">
       <span class="cy-divider">
               UI Design
       </span>
    </div>


</section>