<section id="recommendations">
    <div class="container">
        <h3 class="content-title">
            Redefine recommendations
        </h3>
        <h4 class="black-title">
            Old version
        </h4>
        <p class="content-des">
            This design is fine but boring. Title background has a over dark color. Do not try to play games with user’s
            eyes, they usually won’t lie. Pay attention that area, you will lost a lot of oppotunities to convert users
            in
            that narrow space if you ignore it .
        </p>
        <div class="row">
            <div class="col-8 offset-2">
                <img src="/img/go-lebar/recommendations-old.jpg" alt="" class="img-fluid">
            </div>
        </div>
        <h4 class="black-title">
            New version
        </h4>
        <p class="content-des">
            After I talk to founder, others team members and also users, I thought we can add a function that like a
            game,
            play with every user, stick with them. It’s Limited Time Spike, kind like a big sale, but it’s happend in
            everyday. This principle is totally fit for the of Hook in UX design.
        </p>
        <div class="row">
            <div class="col-4 offset-4 text-center mt-3">
                <img src="/img/go-lebar/recommendations-new-1.jpg" alt="" class="img-fluid">
            </div>
            <div class="col-8 offset-2 mt-5">
                <img src="/img/go-lebar/recommendations-new-2.jpg" alt="" class="img-fluid">
            </div>
        </div>
    </div>
</section>