<section id="slogan">
    <div class="container">
        <h3 class="content-title">
            Redefine brand and slogan
        </h3>


        <div class="row">
            <div class="col-8 offset-2">
                <img src="/img/go-lebar/slogan.jpg" alt="" class="img-fluid">
            </div>
        </div>
        <p class="content-des">
            Old logo was rich of expressions, it can be a great art wrok. But as a designer, I need to keep mind clearly
            and intuitive,
            I have to be a holistic analyst all over the design. Every detail of the beginning will affect future of my
            design work,
            and I call it Butterfly Effect of Design. Learn more details of brand and slogan redesign, please check
            here.
        </p>
    </div>

</section>