<section id="storybroads">
    <div class="container">
        <h3 class="content-title">
            Storyboards
        </h3>
        <p class="content-des">
            First creating storyboards to decide on the narrative flow was the best approach. It was also a good way to
            ensure we were all on the same page as far as the purpose and target users of the video. First, I created
            storyboards based on a conversation we had about where would be viewed and what users it would be targeting.
        </p>

        <div class="row">
            <div class="col-8 offset-2">
                <img src="/img/go-lebar/storybroads.jpg" alt="" class="img-fluid">
            </div>
        </div>
    </div>
</section>