<section id="understanding">
    <div class="container">
        <h3 class="content-title">
            Understanding
        </h3>
        <p class="content-des">
            My first goal was to understand Golebar, what their goals were, and how I could best help them. I met with
            the
            founder multiple times first to discuss the role and what they wanted to acheive with this project. I made
            notes
            to help me get a better understanding of industry they were in, as well as their target users.
        </p>
    </div>

</section>