#header {
    /*margin-top: 120px;*/
    background: url("/img/bg.jpg");

    background-size: cover;
    min-height: 100%;
    color: white;
    display: flex;
    position: relative;
    align-items: center;
}

#header .overlay {
    background: rgba(255, 255, 255, 0.1);
    position: absolute !important;
    width: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;

    background-size: cover;
    height: 100%;
    display: flex;
    align-items: center;
}

@media (max-width: 768px) {
    #header .header-content {
        margin-top: 80px;
    }

    #header .header-content h1 {
        font-size: 35px;
    }

    #header .header-content .extra-content {
        display: none;
    }
}

#header h4 {
    font-size: 20px;
    color: #ffffff;
}

#header h1 {
    font-size: 50px;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 10px;
}

#header .for-line {
    border-top: solid 2px #ffffff;
}

#websites {
    padding-top: 10%;
    padding-bottom: 5%;
    position: relative;
}

.section-header {
    font-family: SFProDisplay;
    font-size: 60px;
    color: #4454ff;
}

.content-header {
    margin-bottom: 10%;
    color: #22415c;
    font-family: SFProDisplay;
    font-size: 30px;

}

.content-des {
    margin-bottom: 10%;
    font-family: SFProDisplay;
    font-size: 16px;
    color: #6e717f;
}

#websites .web-img {
    width: 73%;
    top: 3%;
    right: 0;
    position: absolute;

    z-index: 2;

    /*margin-top: -100%;*/
    /*background-color: transparent;*/
}

#websites .computer-img {
    padding-left: 10%;
    /*width: 90%;*/
    right: 0;
    margin-right: 0;
    z-index: 1;
    /*background-color: turquoise;*/

}

#websites .websites-container {
    position: relative;
    width: 100%;
    height: 100%;
}

#websites .web-info {
    padding-top: 5%;
}

#apps {

    position: relative;
    width: 100%;
    padding-top: 5%;
}

#apps .row {
    margin: 0 0;
}

#apps .apps-info {
    margin-top: 15%;
}

#apps .apps-holder {
    display: inline;
}

#apps .glass-holder {
    display: none;
    margin-top: 10%;
    padding: 5%;
    width: 80%;

}

#apps .apps-holder {
    width: 30%;
    height: auto;
}

#apps .apps-col {
    display: inline;
}

#apps .app-1 {
    margin-left: -10%;
    margin-top: 5%;
    width: 55%;
}

#apps .app-2 {
    width: 55%;
    margin-left: -18%;
}

#apps .app-3 {
    width: 50%;
    margin-top: 22%;
    margin-left: -32%;
    margin-right: 0;
}

#apps .apps-img-holder {
    padding-right: 0;
}

.section-title {
    font-size: 40px;
    font-weight: bold;
    color: #4454ff;
    text-align: left;
}

#about {
    position: relative;
    padding-top: 5%;
    margin-bottom: 5%;
}

#contact {
    position: relative;
    background-image: url('/img/contact.png');
    background-size: cover;
    color: white;
    display: flex;

    padding-top: 5%;
}

#contact .contact-text {

    color: #ffffff;
}

.contact-content p {
    font-size: 16px;
    opacity: 0.64;
    color: #ffffff;
}

.contact-content {
    margin-top: 8%;
    margin-bottom: 5%;
}

#contact li {
    display: inline-block
}

#contact .fa {
    color: #ffffff;
    margin-right: 10px;
}

#contact ul {
    padding-left: 0;
}

@media only screen and (max-width: 767px) {
    #apps .glass-holder {
        display: none;
    }

    #websites .website-img-holder, .apps-img-holder .about-img-holder {
        padding-top: 5%;
    }

    .section-header, .content-header, .content-des {
        padding-left: 20px;
    }

    .content-btn, .learn-more, .contact-content, .contact-icon {
        margin-left: 20px;
    }
}
